/* ================================================
   SHARED IFRAME
   ================================================ */

.shared-include {
    display: block;

    width: 100%;

    border: 0;
    outline: 0;

    background: transparent;
}


.shared-header {
    min-height: 240px;
}




.gift-header {
    position: relative;

    z-index: 20;
}




